html {
  /* font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif; */
  line-height: 1.6;
  /* font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif; */
  font-family: Comic Sans MS,Helvetica Neue,Microsoft Yahei,-apple-system,sans-serif!important;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #2c3e50;
}

/* hide scroll-bar in Chrome */
body::-webkit-scrollbar {
  display: none;
}
/* hide scroll-bar in IE/EDGE */
body {
  -ms-overflow-style: none;
}
/* hide scroll-bar in FireFox */
html,
.el-scrollbar {
  overflow: -moz-hidden-unscrollable !important; /*注意！若只打 hidden，chrome 的其它 hidden 会出问题*/
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: inherit;
}

/* 页面过渡动画 */
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.page-leave-active,
.page-enter-active {
  transition: all 0.5s;
}
.page-enter {
  opacity: 0;
  transform: translateX(-20px);
}
.page-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

/* fade淡入淡出切换动画 */
.fade-leave-active,
.fade-enter-active {
  transition: all 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.layout-enter-active, .layout-leave-active {
  transition: opacity .5s
}
.layout-enter, .layout-leave-active {
  opacity: 0
}

.nuxt-progress {
  z-index: 10;
}
